/* Custom Stylesheet */
/*
 * One nice thing custom css
 *

 */

nav ul a,
nav .brand-logo {

  color: black;
  margin-top: 20px;
  

}

.home-help-block{
  margin-left: 100px;
}

.home-signuo-block{
  margin-top: 40px;
}

.home-banner{
  margin-top: 100px;
}

.home-bottom{
  margin-top: 10px;
}

.home-bottom img {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.home-banner h5 b { 
  color: green;
}


footer.page-footer {
  margin: 0;
}
