/* Custom Stylesheet */
/*
 * One nice thing custom css
 *

 */

nav ul a,
nav .brand-logo {

  color: black;
  margin-top: 20px;
}

.home-help-block{
  margin-left: 100px;
}

.profile-tab-menu{
   margin-top: 100px
   color:green;
<<<<<<< Updated upstream
}

=======

}



>>>>>>> Stashed changes
.home-signuo-block{
  margin-top: 40px;
}

.home-banner{
  margin-top: 100px;
}

.home-bottom{
  margin-top: 10px;
}

.home-bottom img {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.home-banner h5 b { 
  color: green;
}


footer.page-footer {
  margin: 0;
}



/*Modal*/


@media (min-width: 680px) {
  #modal-add{

      width: 50%; 
      height: 70%; 
      top: 5%; 
      left: 5%; 
      right: 5%; 
      bottom: 5%; 
  }

 #modal-add h5  { 
  color: green;
}

  #modal-register{

    width: 30%; 
    height: 70%; 
    top: 5%; 
    left: 5%; 
    right: 5%; 
    bottom: 5%;

  }

 #modal-register h5  { 
  color: green;
}

  #modal-forgot{

    width: 30%; 
    height: 30%; 
    top: 5%; 
    left: 5%; 
    right: 5%; 
    bottom: 5%;
  }

#modal-forgot h5  { 
  color: green;
}

#modal-success{
    width: 30%;     
  }

#modal-success h5  { 
  color: green;
}

#modal-error{

    width: 30%; 
    
  }

  #modal-error h5  { 
    color: green;
  }


}




 
.table-of-contents h6 {
     color:red;
     text-transform: uppercase;
     letter-spacing: 1px;
      line-height: 2.5;
}


#about{

  margin-top: 60px;


}

/***************
    Nav List
***************/
.table-of-contents.fixed {
   margin-top: 40px;
  position: fixed; }

.table-of-contents li {
  padding: 2px 0; }
.table-of-contents a {
  display: inline-block;
  font-weight: 600;
  color: #757575;
  padding-left: 20px;
  height: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: .4;
  display: inline-block; }
  .table-of-contents a:hover {
    color: #40B553;
    padding-left: 19px;
    border-left: 1px solid #40B553; }
  .table-of-contents a.active {
    font-weight: 800;
    padding-left: 18px;
    color:#40B553;
    border-left: 0px solid #40B553; 
  }



  /********/


  header{
    margin-top:20px;
}
header li{
    margin:0 20px; 
}
header a{
    font-weight: 500;
    font-size:1.25em;
}
header a:hover{
    color:#4caf50 !important;
}
.big-font{
    font-size:3em;
}
.small-font{
    font-size:0.75em;
}
.flex{
    display:flex;
    display:-webkit-flex;
    flex-wrap:wrap;
}
.flex-col{
    display:flex;
    display:-webkit-flex;
    flex-direction:column;
}
.no-wrap{
    flex-wrap:nowrap;
}
.center{
    justify-content:center;
    -webkit-justify-content:center;
}
.between{
    justify-content:space-between;
    -webkit-justify-content:space-between;
}
.middle{
    align-items:center;
    -webkit-align-items:center;
}
.around{
    justify-content:space-between;
    -webkit-justify-content:space-between;
}
.dashboard .card{
    min-height:200px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
#menu a{
    display: block;
    padding:10px 0;
    color:#4CAF50;
    text-align: center;
}
#menu .active{
    background:#4CAF50;
}
#menu .active a{
    color:#fff; 
}
.uppercase{
    text-transform: uppercase;
}


