/*-----RESET-----*/
@font-face {
  font-family: 'ComicSans';
  src: url('../font/ComicSansMSRegular.ttf') format('truetype');
}
*{
  font-family: 'ComicSans';
}
a{
  color:#000;
}
.ui.three.cards>.card:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.05);
}
.ui.four.cards>.card:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.05);
}
.short_Info{
    border-top: 1px dashed;
    margin-top: 5px;
    padding-top: 5px;
}
.short_Info>a{
    color: green;
}
html,
body {
  margin:0;
  padding:0;
  height:100%;
}
#wrapper {
  min-height:100%;
  position:relative;
}
#content {
  margin:3rem 0;
  padding-bottom:70px;
}
#footer{
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
}
.ui.secondary.pointing.menu .active.item{
  border-color:#40B553;
  color:#40B553;
}
.ui.secondary.pointing.menu .active.item.yellow-text{
  border-color:#fbbd08;
}
.ui.table{
  margin:0;
}
.ui.basic.red.pointing.prompt.label{
  max-width:180px;
}
#side-menu-btn {
  display: none;
}
/*FORGOT PASSWORD*/
.forgot{
  padding:20px;
  border:1px solid #e0e0e0;
  border-radius:3px;
}
/*-----CUSTOM CLASS-----*/
.big-font{
  font-size:3rem;
}
.medium-font{
  font-size:1.25rem;
}
.underline{
  text-decoration: underline;
}
.green-text{
  color:#40B553 !important;
}
.yellow-text{
  color:#fbbd08 !important;
}
.margin-left{
  margin-left:50px;
}
.margin-top{
  margin-top:20px;
}
.actions{
  margin-top:40px;
}
/*DASHBOARD*/
#dashboard .stat{
  border:1px solid #e0e0e0;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size:0.875em;
  white-space:wrap;
}
#dashboard .stat:nth-child(2){
  margin:0 10px;
}
#dashboard .value{
  font-size:2rem;
  padding:20px;
}
#dashboard iframe{
  width:100%;
}
/*HEADER*/
#logo{
  margin-top:1rem;
}
#logo img{
  height:70px;
}
#menu a{
  font-weight: bold;
}
#menu a:hover{
  color:#40B553;
  font-weight: bold;
}
#menu .active.item:hover{
  border-color:#40B553;
}
#user{
  margin-left:40px;
  background:#ffe6a2;
  padding:5px;
  border-radius: 3px;
}
/*HOME*/
#home-text{
  background:#eee;
  padding:20px 0 30px 0;
  text-align: center;
}
#home-report a{
  margin-bottom: 15px;
}
/*FOOTER*/
#footer{
  background:#40B553;
  padding:15px;
  margin-top:3rem;
}
#footer a{
  color:#fff;
  margin:0 10px;
}
#footer a:hover{
  color:#fbbd08;
  text-decoration: underline;
}
#social a:hover{
  text-decoration: none;
}
/*SETTINGS PAGE*/
#settings{
  border:1px solid #e0e0e0;
  padding:20px 40px;
}
#settings .title{
  color:#40B553;
  font-size:1.125rem;
  margin:20px 0;
  font-weight: bold
}
/*MY NICE THINGS PAGE*/
#mythings form{
  display: flex;
  flex-direction:column;
  flex:1;
}
#mythings .content{
  padding:1em;
  border-bottom:1px solid #e0e0e0;
  flex-grow:1;
}
#mythings .content:last-child{
  border:none;
}
#mythings .field{
  width:100%;
  display: none;
}
#mythings .ui.selection.dropdown{
  width:100%;
}
#mythings .back{
  display:none;
}
/*CONTACT US PAGE*/
#contact{
  border:1px solid #e0e0e0;
  padding:20px 40px;
  border-radius: 5px;
  width:350px;
}
#contact h1{
  color:#40B553;
}
#contact>form>*{
  margin-top:20px;
}
/*CHAT*/
#chat{
  border:1px solid #e0e0e0;
}
#chat-friends>.search{
  padding:10px;
}
#chat-friends .search .input{
  width:100%;
}
#chat-friends{
  border-right:1px solid #e0e0e0;
  flex:1;
}
#chat-friends *{
  white-space:nowrap;
}
#chat-friends .date{
  color:#7f7f7f;
  font-size:0.875em;
  margin-left:10px;
}
#chat-friends .section>div{
  width:100%;
}
#chat-friends .section{
  padding:10px;
}
#chat-friends .section:nth-child(n+2){
  border-top:1px solid #e0e0e0;
}
#chat-friends .section.active{
  background:#40B553;
  color:#fff;
}
#chat-friends .section.active a{
  color:#fff;
}
#chat-text{
  padding:20px;
  flex:2;
}

/*REPORT*/
#report h1{
  color:#40B553;
}
#report button{
  margin-top:20px;
}
#report .section{
  margin-top:20px;
}
#report .section .title, #report .section label{
  margin-bottom:5px;
  font-weight: bold;
}
/*SUBMENU*/
#submenu{
  font-size:1.3em;
}
#submenu .item{
  margin-top:5px;
}
#submenu a{
  padding:10px 10px;
  white-space: nowrap;
  color:#40b553;
}
#submenu a.active{
  color:#fff;
  background:#40b553;
  border-radius: 20px;
}
#submenu a:hover{
 color:#fff;
 background:#40b553;
 border-radius: 20px;
}
/*TREE*/
.tree ul, .tree li{
  margin:0;
  padding:0;
  list-style:none;
  position: relative;
}
.tree ul{
  display: flex;
  display: -webkit-flex;
  text-align: center;
}
.tree ul ul{
  padding-top:20px;
}
.tree li>a{
  display: inline-flex;
  display: -webkit-inline-flex;
  flex-direction:column;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  text-align: center;
  background: #ffe6a2;
  padding:5px;
  font-size:0.75em;
  border-radius: 3px;
}
.tree li:nth-child(n+2){
  padding-left:20px;
}
.tree li{
  padding-top:20px;
}
.tree ul ul::before{
  content:'';
  position: absolute;
  top:0;
  left:50%;
  height:20px;
  width:0;
  border-left: 2px solid #40B553;
}
.tree li::before, .tree li::after{
  content:'';
  position: absolute;
  top:0;
  right:50%;
  border-top:2px solid #40B553;
  width:50%;
  height:20px;
}
.tree li::after{
  left:50%;
  right:auto;
  border-left:2px solid #40B553;
}
.tree li:only-child::after, .tree li:only-child::before {
  display: none;
}
.tree li:first-child::before, .tree li:last-child::after{
  border: 0 none;
}
.tree li:last-child::before{
  border-right:2px solid #40B553;
  border-radius: 0 5px 0 0;
  left:0;
}
.tree li:first-child::after{
  border-radius: 5px 0 0 0;
}
.tree{
  overflow:scroll;
  overflow-y:hidden;
  overflow-x:hidden;
  max-height:600px;
  background: #f5f8fa;
  cursor: grab;
  cursor: -webkit-grab;
}
.tree img{
  width: 32px;
  height:32px;
  margin: 10px;
  border-radius: 100%;
}
.tree ul li a, .tree ul li{
  opacity: 0;
}
.tree .active>li>a, .tree .active>li{
  opacity: 1;
  transition:all 0.5s;
}
.tree .active>li>a, .tree .active>li>a:hover{
    cursor: pointer;
}
.tree>ul>li{
  padding:500px;
}
.tree .show{
  position: absolute;
  z-index: 0;
}
#show{
  display: none;
}
@media only screen and (max-width: 700px) {
  #dashboard .stat{
    flex:1 100%;
    margin-top:100px;
  }

  .secondary.pointing.menu .item{
    display: none;
  }
  #side-menu-btn {
    display: block;
  }
  #user{
    display: none;
  }
  #footer-menu{
    width:100%;
  }
  #footer-menu a{
    text-align: center;
    width:100%;
    margin-top:5px;
  }
  .margin-left{
    margin-left:0;
  }
  #chat-text{
    flex:1;
  }
}
@media (max-width:992px){
  #things img{
    margin-top:20px;
  }
  #things .margin-left{
    margin-left:0;
  }
  #dashboard .stat:nth-child(2){

    margin-left:0;
    margin-right:0;
  }
  #dashboard .margin-left{
    margin-left:0;
  }
  #dashboard .stat{

    margin-top:20px !important;

  }
  #footer #social{
    margin-top:20px;
  }
}
