{% extends "base-logged.html" %}
{% block content %}
<div class='container static'>
    <div class='row'>
        <div class='col offset-s0 offset-m3 offset-l3 grey-text'><h4 style='font-weight: bold;' class='title'>About us</h4></div>
    </div>
    <div class='row'>
        <ul class='col s12 m3 l3' id='aside'>
            <li>About us</li>
            <li>Help</li>
            <li>Faq</li>
            <li>Privacy Policy</li>
            <li>Contact us</li>
        </ul>
        <div class="col s12 m9 l9 section">
            <div class='row'>
                <div class='col s12 m4 l4'><img class='col s12 m12 l12' src='img/cat.jpg'></div>
                <div class='col s12 m8 l8'>
                    <p>Lorem ipsum dolor sit amet, unum dicant his ei, mei meis appareat incorrupte no. Vis ne nemore
                        latine efficiendi, iusto oportere vix ex. Ut pri erant dicunt. Pri ei nominavi facilisi, tale exerci 
                        principes ut qui. Vim quas justo nostrud at, nam aperiri scripserit at. Eam ne voluptatibus 
                        interpretaris, eum at prompta commune voluptatibus.
                    </p>
                    <p>Lorem ipsum dolor sit amet, unum dicant his ei, mei meis appareat incorrupte no. Vis ne nemore
                        latine efficiendi, iusto oportere vix ex. Ut pri erant dicunt. Pri ei nominavi facilisi, tale exerci 
                        principes ut qui. Vim quas justo nostrud at, nam aperiri scripserit at. Eam ne voluptatibus 
                        interpretaris, eum at prompta commune voluptatibus.
                    </p>
                    <p>Lorem ipsum dolor sit amet, unum dicant his ei, mei meis appareat incorrupte no. Vis ne nemore
                        latine efficiendi, iusto oportere vix ex. Ut pri erant dicunt. Pri ei nominavi facilisi, tale exerci 
                        principes ut qui. Vim quas justo nostrud at, nam aperiri scripserit at. Eam ne voluptatibus 
                        interpretaris, eum at prompta commune voluptatibus.
                    </p>
                </div>
            </div>
            <div class='flex center'>
                <img src='img/cat.jpg' class='circle' width='100' height='100'>
                <img src='img/cat.jpg' class='circle' width='100' height='100' style='margin:0 40px;'>
                <img src='img/cat.jpg' class='circle' width='100' height='100'>
            </div>
        </div>
        <div class="col s12 m9 l9 section" style='display:none;'>
            <div class='row'>
                <div class='col s12 m4 l4'><img class='col s12 m12 l12' src='img/cat.jpg'></div>
                <div class='col s12 m8 l8'>
                    <div style='color:#4CAF50; font-size:1.125em; font-weight:bold'>Step 1</div>
                    <p>Lorem ipsum dolor sit amet, unum dicant his ei, mei meis appareat incorrupte no. Vis ne nemore
                        latine efficiendi, iusto oportere vix ex. Ut pri erant dicunt. Pri ei nominavi facilisi, tale exerci 
                        principes ut qui. Vim quas justo nostrud at, nam aperiri scripserit at. Eam ne voluptatibus 
                        interpretaris, eum at prompta commune voluptatibus.
                    </p>
                </div>
            </div>
            <div class='divider' style='margin:20px 0'></div>
            <div class='row'>
                <div class='col s12 m4 l4'><img class='col s12 m12 l12' src='img/cat.jpg'></div>
                <div class='col s12 m8 l8'>
                    <div style='color:#4CAF50; font-size:1.125em; font-weight:bold'>Step 1</div>
                    <p>Lorem ipsum dolor sit amet, unum dicant his ei, mei meis appareat incorrupte no. Vis ne nemore
                        latine efficiendi, iusto oportere vix ex. Ut pri erant dicunt. Pri ei nominavi facilisi, tale exerci 
                        principes ut qui. Vim quas justo nostrud at, nam aperiri scripserit at. Eam ne voluptatibus 
                        interpretaris, eum at prompta commune voluptatibus.
                    </p>
                </div>
            </div>
            <div class='divider' style='margin:20px 0'></div>
            <div class='row'>
                <div class='col s12 m4 l4'><img class='col s12 m12 l12' src='img/cat.jpg'></div>
                <div class='col s12 m8 l8'>
                    <div style='color:#4CAF50; font-size:1.125em; font-weight:bold'>Step 1</div>
                    <p>Lorem ipsum dolor sit amet, unum dicant his ei, mei meis appareat incorrupte no. Vis ne nemore
                        latine efficiendi, iusto oportere vix ex. Ut pri erant dicunt. Pri ei nominavi facilisi, tale exerci 
                        principes ut qui. Vim quas justo nostrud at, nam aperiri scripserit at. Eam ne voluptatibus 
                        interpretaris, eum at prompta commune voluptatibus.
                    </p>
                </div>
            </div>
            <div class='divider' style='margin:20px 0'></div>
        </div>
        <div class="col s12 m9 l9 section" style='display:none;'>
            <dl>
                <dt>Q: Why would I need more than one Keyword?</dt>
                <dd>If you're running multiple campaigns targeting different groups of people, you may want to use different Keywords 
                    to segment those groups -- or perhaps to segment the performance of different advertisements. You may also be 
                    running different sorts of campaigns, such as opt-in campaigns, contest campaigns, and polling campaigns</dd>
                <dt>Q: Why would I need more than one Keyword?</dt>
                <dd>If you're running multiple campaigns targeting different groups of people, you may want to use different Keywords 
                    to segment those groups -- or perhaps to segment the performance of different advertisements. You may also be 
                    running different sorts of campaigns, such as opt-in campaigns, contest campaigns, and polling campaigns</dd>
                <dt>Q: Why would I need more than one Keyword?</dt>
                <dd>If you're running multiple campaigns targeting different groups of people, you may want to use different Keywords 
                    to segment those groups -- or perhaps to segment the performance of different advertisements. You may also be 
                    running different sorts of campaigns, such as opt-in campaigns, contest campaigns, and polling campaigns</dd>
                <dt>Q: Why would I need more than one Keyword?</dt>
                <dd>If you're running multiple campaigns targeting different groups of people, you may want to use different Keywords 
                    to segment those groups -- or perhaps to segment the performance of different advertisements. You may also be 
                    running different sorts of campaigns, such as opt-in campaigns, contest campaigns, and polling campaigns</dd>
                <dt>Q: Why would I need more than one Keyword?</dt>
                <dd>If you're running multiple campaigns targeting different groups of people, you may want to use different Keywords 
                    to segment those groups -- or perhaps to segment the performance of different advertisements. You may also be 
                    running different sorts of campaigns, such as opt-in campaigns, contest campaigns, and polling campaigns</dd>
            </dl>
        </div>
        <div class="col s12 m9 l9 section" style='display:none;'>
            <p>Lorem ipsum dolor sit amet, unum dicant his ei, mei meis appareat incorrupte no. Vis ne nemore
                latine efficiendi, iusto oportere vix ex. Ut pri erant dicunt. Pri ei nominavi facilisi, tale exerci 
                principes ut qui. Vim quas justo nostrud at, nam aperiri scripserit at. Eam ne voluptatibus 
                interpretaris, eum at prompta commune voluptatibus.
            </p>
            <p>Lorem ipsum dolor sit amet, unum dicant his ei, mei meis appareat incorrupte no. Vis ne nemore
                latine efficiendi, iusto oportere vix ex. Ut pri erant dicunt. Pri ei nominavi facilisi, tale exerci 
                principes ut qui. Vim quas justo nostrud at, nam aperiri scripserit at. Eam ne voluptatibus 
                interpretaris, eum at prompta commune voluptatibus.
            </p>
            <p>Lorem ipsum dolor sit amet, unum dicant his ei, mei meis appareat incorrupte no. Vis ne nemore
                latine efficiendi, iusto oportere vix ex. Ut pri erant dicunt. Pri ei nominavi facilisi, tale exerci 
                principes ut qui. Vim quas justo nostrud at, nam aperiri scripserit at. Eam ne voluptatibus 
                interpretaris, eum at prompta commune voluptatibus.
            </p>
            <p>Lorem ipsum dolor sit amet, unum dicant his ei, mei meis appareat incorrupte no. Vis ne nemore
                latine efficiendi, iusto oportere vix ex. Ut pri erant dicunt. Pri ei nominavi facilisi, tale exerci 
                principes ut qui. Vim quas justo nostrud at, nam aperiri scripserit at. Eam ne voluptatibus 
                interpretaris, eum at prompta commune voluptatibus.
            </p>
            <p>Lorem ipsum dolor sit amet, unum dicant his ei, mei meis appareat incorrupte no. Vis ne nemore
                latine efficiendi, iusto oportere vix ex. Ut pri erant dicunt. Pri ei nominavi facilisi, tale exerci 
                principes ut qui. Vim quas justo nostrud at, nam aperiri scripserit at. Eam ne voluptatibus 
                interpretaris, eum at prompta commune voluptatibus.
            </p>
        </div>
        <div class="col s12 m9 l9 section flex center" style='display:none;'>
            <form class='col s12 m9 l6 z-depth-1' style='padding:20px;'>
                <div style='color:#4CAF50'><h5>Send us</h5></div>
                <div class="input-field">
                    <input id="name" type="text" class="validate">
                    <label for="name">Name</label>
                </div>
                <div class="input-field">
                    <input id="email" type="text" class="validate">
                    <label for="email">Email</label>
                </div>
                <div class="input-field">
                    <textarea id="message" class="materialize-textarea"></textarea>
                    <label for="message">Message</label>
                </div>
                <a style='margin-top:40px;' class="waves-effect waves-light btn amber">Send</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}



{% block scripting %}

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script>

    $(document).ready(function () {
        $('select').material_select();
    });


    $(document).ready(function () {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal();
    });
    $('#aside li').click(function () {
        var index = $(this).index();
        var text = $(this).text();

        $('.title').text(text);
        $('.section').hide();
        $('.section').eq(index).show();
    });
</script>


{% endblock %}