{% extends "base.html" %}
{% block content %}
<div class='ui container'>
    <div id='about' class='section'>
        <div class='flex-col middle'>
            <h1>About us</h1>
            <img src='img/about.png' class='ui image medium'>
            <p class='center_text margin'>Does helping others really make the world a better place? Do random acts of kindness create any positive 
                impact on the lives of others? We think so, but wanted to find a way to prove it.</p>
            <p class='center_text'>We developed this site to find out just how far <a href='#' style='color:#40B553; font-weight:bold;'>One Nice Thing</a> can go, and the impact it can have on the 
                people that it touches.</p>
            <div>
                <a class="ui inverted green button" href='#' data-show='about'>How it Works</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
