{% extends "base.html" %}
{% block content %}
<div class='ui container'>
    <div class='flex xs-wrap center middle'>
        <div>
            <img class="ui huge image" src="img/about.png">
        </div>
        <div class='flex-col middle'>
            <h1>About us</h1>
            <p>Does helping others really make the world a better place? Do random acts of kindness create any positive impact on the lives of others? We think so, but wanted to find a way to prove it.</p>
            <p>We developed this site to find out just how far One Nice Thing can go, and the impact it can have on the people that it touches.</p>
            <div>
                <a class='ui button inverted green' href="index.php?help">How it Works</a>
                <a class='ui button inverted green' href="index.php?contact">Contact Us</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
