<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <title>One Nice Thing {{ title }}</title>
        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="navbar-fixed">
                <nav class="green lighten-1" role="navigation">
                    <div class="nav-wrapper container" >
                        <a id="logo-container" href="index.php" class="brand-logo" 
                            > One ice thing</a>
                        <ul class="right hide-on-med-and-down ">
                            <li><a href="index.php?login">Login | Sign up</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">About</a></li>
                            <li>
                                <a  href="index.php?add" class="btn-floating btn-large waves-effect waves-light yellow">
                                <i class="mdi-content-add"></i></a>
                            </li>
                        </ul>
                        <ul id="nav-mobile" class="side-nav ">
                            <li><a href="index.php?login">Login</a></li>
                            <li><a href="#">Sign up</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                        <i class="mdi-content-add"></i></a>
                    </div>
                </nav>
            </div>
        </header>
        {% block content %}

        {% endblock %}
        <footer class="page-footer green">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="yellow-text text-darken-1">One nice thing</h5>
                        <p class="grey-text text-lighten-4">About one nice thing. one nice thing. one nice thing. one nice thing.
                            one nice thing. one nice thing. one nice thing. one nice thing. one nice thing. one nice thing. 
                        </p>
                    </div>
                    <div class="col l3 s12">
                        <h5 class="yellow-text text-darken-1">Help</h5>
                        <ul>
                            <li><a class="white-text" href="#!">How to use</a></li>
                            <li><a class="white-text" href="#!">Faq</a></li>
                            <li><a class="white-text" href="#!">Privacy Policy</a></li>
                            <li><a class="white-text" href="#!">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="col l3 s12">
                        <h5 class="yellow-text text-darken-1">Social media</h5>
                        <ul>
                            <li><a class="white-text" href="#!">Facebook</a></li>
                            <li><a class="white-text" href="#!">Twitter</a></li>
                            <li><a class="white-text" href="#!">Instagram</a></li>
                            <li><a class="white-text" href="#!">Youtube</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    Copyright 2015. <a class="yellow-text text-darken-1" href="http://onenicething.net">One nice thing</a>
                </div>
            </div>
        </footer>
        <!--  Scripts-->
        {% block scripting %}
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>
        {% endblock %}
    </body>
</html>