{% extends "submain.html" %}
{% block subcontent %}
    <div class="flex left">
        <form class="ui form change_password">
            <h2 class="ui header">Change Password</h2>
            <input type="hidden" name="user_id" id="" value="{{ user.objectId }}" />
            <input type="hidden" name="check" id="" value="change_password" />
            <div class="two fields">
                <div class="field">
                    <label>New password</label>
                    <input type="password" placeholder="New password" name='new_password' value="">
                </div>
                <div class="field">
                    <label>Confirm password</label>
                    <input type="password" placeholder="Confirm password" name='confirm_password' value="">
                </div>
            </div>
            <div class="field">
                <button class="ui green button">Save</button>
            </div>
            <div class="ui error message"></div>
        </form>
    </div>
{% endblock %}
{% block scripting %}
{{ parent() }}
    <script src="js/init.js"></script>  
    <script type="text/javascript">
    $(function() {
      $('.ui.form.change_password').form(cpassword_validate)
      .api({
        action: 'change_password user',
        method: 'POST',
        serializeForm: true,
        data: {
          check: 'change_password'
        },
        beforeSend: function(settings) {
          return settings;
        },
        onSuccess: function(response) {
            if(response.success){ 
                var url = "index.php?dashboard";
                alert(response.message);
                window.location.replace(url); 
                // valid response and response.success = true
            }
            else{
                alert(response.message); 
            }
        },
        onError: function(errorMessage) {
        }
        });
    });
    </script>
{% endblock %}
