{% extends "submain.html" %}
{% block subcontent %}
    <div id="chat" class="flex">
        <div id="chat-friends">
            <div class="flex middle section">
                <div class="content">
                    <a id="direct" class="ui green label">Direct</a>
                    <a id="all" class="ui green label">All</a>
                </div>
            </div>
            <div class="ui search">
                <div class="ui icon input">
                    <input class="prompt search" type="text" placeholder="Search...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
            <div id="chat_list" class="list">
                {% if last %}
                <div class="flex middle section active">
                    <a class="name" onclick="refresh('{{last.objectId}}', $(this) )" style="cursor: pointer;">
                        <img class="ui avatar image" src="{{last.avatar}}" width="50" height="50">
                        <span>{{last.first}}</span>
                    </a>
                    <div>
                        <div class="flex between">
                            <a href="#"></a>
                            <a href="#"  class="date">never</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {%for user_ in users%}
                {% if user_.objectId != user.objectId and user_.objectId != last.objectId %}
                <div class="flex middle section{%if last == user_.objectId %} active{% endif%}">
                    <a class="name" onclick="refresh('{{user_.objectId}}', $(this) )" style="cursor: pointer;">
                        <img class="ui avatar image" src="{{user_.avatar}}" width="50" height="50">
                        <span>{{user_.first}}</span>
                    </a>
                    <div>
                        <div class="flex between">
                            <a href="#"></a>
                            <a href="#"  class="date">never</a>
                        </div>
                    </div>
                </div>
                {%endif%}
                {%endfor%}
            </div>
        </div>
        <div id="chat-text">
            <div class="ui comments">
                <h3 class="ui dividing header">Conversations</h3>
                <div id="conversations">
                    {% for chat in chatters %}
                    <div class="comment">
                        <a class="avatar"><img src="{{chat.speaker.avatar}}"></a>
                        <div class="content">
                            <a class="author">{% if chat.speaker.first == user.first %}Me{% else %}{{chat.speaker.first}}{% endif %}</a>
                            <div class="metadata"><span class="date">{{chat.createdAt | date("F jS \\a\\t g:ia")}}</span></div>
                            <div class="text">{{chat.message}}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <form class="ui form reply">
                    <div class="field">
                        <input type="hidden" name="speaker" value="{{user.objectId}}">
                        <input id="chat_id" type="hidden" name="chat" value="{{chat}}">
                        <input type="hidden" name="check" value="message">
                        <div id="replay_message">
                            <textarea name="message"></textarea>
                        </div>
                    </div>
                    <div class="ui yellow fluid labeled submit icon button">
                        <i class="icon edit"></i> Send
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripting %}
    {{ parent() }}
    <script src="js/init.js"></script>  
    <script src="js/list.min.js"></script>
    <script type="text/javascript" charset="utf-8">
    var options = {
    valueNames: [ 'name', 'born' ]
    };

    var userList = new List('chat-friends', options);
    var u_img = "{{ user.avatar }}";
    var u_name = "{{ user.first }}";
    </script>
    <script src="js/custom.js"></script>  
{% endblock %}
