{% extends "submain.html" %}
{% block subcontent %}
<div class="ui container">
    <div id='chat'>
        <div class="flex" id="chat-header">
            <div class="border-right" id='header-first'>
                <div>
                    <a>Recent (7)</a>
                    <a>Message Requests</a>
                </div>
            </div>
            <div id='header-second'>
                <a id="name" href='#'>FirstName LastName</a>
            </div>
        </div>
        <div class='flex'>
            <div id='chat-side'>
                <div class="ui icon input" id='chat-search'>
                    <input type="text" placeholder="Search...">
                    <i class="circular search link icon"></i>
                </div>
                <div id='recent-chat' class="chat-scroll">
                    <a href='#' class='flex middle unseen'>
                        <img src="img/cat.jpg" width="50" height="50">
                        <div class="chat">
                            <div class="flex between">
                                <span class="chat-side-name">FirstName LastName</span>
                                <span class="chat-time">11:49am</span>
                            </div>
                            <span>Chat chat chat chat...</span>
                        </div>
                    </a>
                    <a href='#' class='flex middle'>
                        <img src="img/cat.jpg" width="50" height="50">
                        <div class="chat">
                            <div class="flex between">
                                <span class="chat-side-name">FirstName LastName</span>
                                <span class="chat-time">11:49am</span>
                            </div>
                            <span>Chat chat chat chat...</span>
                        </div>
                    </a>
                    <a href='#' class='flex middle'>
                        <img src="img/cat.jpg" width="50" height="50">
                        <div class="chat">
                            <div class="flex between">
                                <span class="chat-side-name">FirstName LastName</span>
                                <span class="chat-time">11:49am</span>
                            </div>
                            <span>Chat chat chat chat...</span>
                        </div>
                    </a>
                    <a href='#' class='flex middle'>
                        <img src="img/cat.jpg" width="50" height="50">
                        <div class="chat">
                            <div class="flex between">
                                <span class="chat-side-name">FirstName LastName</span>
                                <span class="chat-time">11:49am</span>
                            </div>
                            <span>Chat chat chat chat...</span>
                        </div>
                    </a>
                    <a href='#' class='flex middle'>
                        <img src="img/cat.jpg" width="50" height="50">
                        <div class="chat">
                            <div class="flex between">
                                <span class="chat-side-name">FirstName LastName</span>
                                <span class="chat-time">11:49am</span>
                            </div>
                            <span>Chat chat chat chat...</span>
                        </div>
                    </a>
                    <a href='#' class='flex middle'>
                        <img src="img/cat.jpg" width="50" height="50">
                        <div class="chat">
                            <div class="flex between">
                                <span class="chat-side-name">FirstName LastName</span>
                                <span class="chat-time">11:49am</span>
                            </div>
                            <span>Chat chat chat chat...</span>
                        </div>
                    </a>
                    <a href='#' class='flex middle'>
                        <img src="img/cat.jpg" width="50" height="50">
                        <div class="chat">
                            <div class="flex between">
                                <span class="chat-side-name">FirstName LastName</span>
                                <span class="chat-time">11:49am</span>
                            </div>
                            <span>Chat chat chat chat...</span>
                        </div>
                    </a>
                    <a href='#' class='flex middle'>
                        <img src="img/cat.jpg" width="50" height="50">
                        <div class="chat">
                            <div class="flex between">
                                <span class="chat-side-name">FirstName LastName</span>
                                <span class="chat-time">11:49am</span>
                            </div>
                            <span>Chat chat chat chat...</span>
                        </div>
                    </a>
                </div>
            </div>
            <div id='chat-main'>
                <div class='chat-scroll'>
                    <div class='flex'>
                        <a href='#'><img src="img/cat.jpg" width="32" height="32"></a>
                        <div class='chat'>
                            <div class='flex between'>
                                <a href='#' class="chat-main-name">FirstName LastName</a>
                                <span class='chat-time'>1/1, 11:49am</span>
                            </div>
                            <div class='chat-text'>
                                <div>sdsdsdsdsdsd</div>
                                <div>sdsdsdsdsdsd</div>
                                <div>sdsdsdsdsdsd</div>
                            </div>
                        </div>
                    </div>
                    <div class='chat-separator'><span>January 1</span></div>
                    <div class='flex section'>
                        <a href='#'><img src="img/cat.jpg" width="32" height="32"></a>
                        <div class='chat'>
                            <div class='flex between'>
                                <a href='#' class="chat-main-name">FirstName LastName</a>
                                <span>1/1, 11:49am</span>
                            </div>
                            <div class='chat-text'>
                                <div>sdsdsdsdsdsd</div>
                            </div>
                        </div>
                    </div>
                    <div class='flex section'>
                        <a href='#'><img src="img/cat.jpg" width="32" height="32"></a>
                        <div class='chat'>
                            <div class='flex between'>
                                <a href='#' class="chat-main-name">FirstName LastName</a>
                                <span>1/1, 11:49am</span>
                            </div>
                            <div class='chat-text'>
                                <div>sdsdsdsdsdsd</div>
                            </div>
                        </div>
                    </div>
                    <div class='flex section'>
                        <a href='#'><img src="img/cat.jpg" width="32" height="32"></a>
                        <div class='chat'>
                            <div class='flex between'>
                                <a href='#' class="chat-main-name">FirstName LastName</a>
                                <span>1/1, 11:49am</span>
                            </div>
                            <div class='chat-text'>
                                <div>sdsdsdsdsdsd</div>
                            </div>
                        </div>
                    </div>
                    <div class='flex section'>
                        <a href='#'><img src="img/cat.jpg" width="32" height="32"></a>
                        <div class='chat'>
                            <div class='flex between'>
                                <a href='#' class="chat-main-name">FirstName LastName</a>
                                <span>1/1, 11:49am</span>
                            </div>
                            <div class='chat-text'>
                                <div>sdsdsdsdsdsd</div>
                            </div>
                        </div>
                    </div>
                    <div class='flex section'>
                        <a href='#'><img src="img/cat.jpg" width="32" height="32"></a>
                        <div class='chat'>
                            <div class='flex between'>
                                <a href='#' class="chat-main-name">FirstName LastName</a>
                                <span>1/1, 11:49am</span>
                            </div>
                            <div class='chat-text'>
                                <div>sdsdsdsdsdsd</div>
                            </div>
                        </div>
                    </div>
                    <div class='flex section'>
                        <a href='#'><img src="img/cat.jpg" width="32" height="32"></a>
                        <div class='chat'>
                            <div class='flex between'>
                                <a href='#' class="chat-main-name">FirstName LastName</a>
                                <span>1/1, 11:49am</span>
                            </div>
                            <div class='chat-text'>
                                <div>sdsdsdsdsdsd</div>
                            </div>
                        </div>
                    </div>
                    <div class='flex section'>
                        <a href='#'><img src="img/cat.jpg" width="32" height="32"></a>
                        <div class='chat'>
                            <div class='flex between'>
                                <a href='#' class="chat-main-name">FirstName LastName</a>
                                <span>1/1, 11:49am</span>
                            </div>
                            <div class='chat-text'>
                                <div>sdsdsdsdsdsd</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id='chat-send'>
                    <form>
                        <textarea rows='5' placeholder='Write a text...'></textarea>
                        <span class='flex end'>
                            <button class='ui green button'>Send</button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='jquery-2.2.0.min.js'></script>
<script>
    $(function () {
       $(function() {

  var toolbox = $('.scroll_height'),
      height = toolbox.height(),
      scrollHeight = toolbox.get(0).scrollHeight;

  toolbox.bind('mousewheel', function(e, d) {
    if((this.scrollTop === (scrollHeight - height) && d < 0) || (this.scrollTop === 0 && d > 0)) {
      e.preventDefault();
    }
  });

});
    })
</script>
{% endblock %}
