{% extends "base.html" %}
{% block content %}
<div class="ui container report_nice_thing">
    <div class='ui grid'>
        <div class='one wide column'>
        </div>
        <div class='five wide column'>
            <div class="ui raised segment" id="loglabel" style="left: -5px;">
                <a class="ui green ribbon label">Continue as Guest</a>
               
                <p></p>
            </div>
            <div class="content">
                
            </div>
        </div>
        <div class='five wide column'>
            <div class="ui raised segment" id="loglabel" style="left: -5px;">
                <a class="ui green ribbon label">Register</a>
                <br>
                <br>
                <form class="ui form field login">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="text" name="email" placeholder="e-mail">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password_confirm" placeholder="Password confirm">
                        </div>
                    </div>

                    <div class="ui fluid large submit button">Register</div>
                    <div class="ui error message"></div>
                    <div class="inline field"></div><div class="inline field"></div>
                </form>
            </div>
        </div>
        <div class='five wide column'>
            <div class="ui raised segment" id="loglabel" style="left: -5px;">
                <a class="ui red ribbon label">Old user :)</a>
                <br>
                <br>
                 <form class="ui form field login">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>           
                    <div class="inline field">
                        <div class="ui checkbox">
                            <input type="checkbox" name="remember_me">
                            <label>Remember me!</label>
                        </div>
                    </div>
                    <div class="ui fluid large submit button">Login</div>
                    <div class="ui error message"></div>
                    <div class="inline field"></div><div class="inline field"></div>               
                </form>
            </div>
        </div>
    </div>
</div>
<br /><br />
{% endblock %}
{% block scripting %}
    {{ parent() }}
     <script type="text/javascript">
        $.fn.serializeObject = function(){
              var o = {};
              var a = this.serializeArray();
              $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
              });
              return o;
        };
        $(function() {
          
          


        });
  </script>
{% endblock %}
