{% extends "submain.html" %}
{% block subcontent %}
<div id='dashboard'>
    <div class='flex between md-flex-col md-col-reverse'>
        <div class='flex flex12'>
            <div class='flex md-wrap'>
                <div class="stat flex-col center md-flex12">
                    <div class="label">Originated</div>
                    <div class="value">625</div>
                    <div class="label">Nice things originated from you</div>
                </div>
                <div class="stat flex-col center md-flex12">
                    <div class="label">Originated</div>
                    <div class="value">625</div>
                    <div class="label">Nice things originated from you</div>
                </div>
                <div class="stat flex-col center md-flex12">
                    <div class="label">Originated</div>
                    <div class="value">625</div>
                    <div class="label">Nice things originated from you</div>
                </div>
            </div>
        </div>
        <div class='margin-left'>
            <div class="ui vertical menu">
                <a class="active teal item">Inbox<div class="ui teal pointing left label">9</div></a>
                <a class="item">Spam<div class="ui label">51</div></a>
                <a class="item">Updates<div class="ui label">1</div></a>
            </div>
        </div>
    </div>
    <div class='map margin-top'>
        <div id="map_canvas" style="width:100%; height:500px"></div> 
    </div>
    <div class='margin-top'>
        <div class="ui three stackable cards">
            <div class="ui card">
                <div class="content">
                    <div class="header">Cute Dog</div>
                    <div class="meta">2 days ago</div>
                    <div class="description">
                        <p>Cute dogs come in a variety of shapes and...</p>
                    </div>
                </div>
                <div class="extra content">
                    <i class="check icon"></i>
                    121 Votes
                </div>
            </div>
            <div class="ui card">
                <div class="content">
                    <div class="header">Cute Dog</div>
                    <div class="meta">2 days ago</div>
                    <div class="description">
                        <p>Cute dogs come in a variety of shapes and...</p>
                    </div>
                </div>
                <div class="extra content">
                    <i class="check icon"></i>
                    121 Votes
                </div>
            </div>
            <div class="ui card">
                <div class="content">
                    <div class="header">Cute Dog</div>
                    <div class="meta">2 days ago</div>
                    <div class="description">
                        <p>Cute dogs come in a variety of shapes and...</p>
                    </div>
                </div>
                <div class="extra content">
                    <i class="check icon"></i>
                    121 Votes
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripting %}
{{ parent() }}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
<script type="text/javascript" src="js/v3_epoly.js"></script>
<script type="text/javascript" src="js/custommap.js" charset="utf-8"></script>
{% endblock %}
