{% extends "submain.html" %}
{% block subcontent %}
<div id='dashboard'>
    <div class='flex between'>
        <div>
            <div class="stat">
                <div class="label">Originated</div>
                <div class="value">625</div>
                <div class="label">Nice things originated from you</div>
            </div>
            <div class='stat'>
                <div class='label'>Friend List</div>
                <div class='value'>22</div>
                <div class="label">Friends</div>
            </div>
            <div class='stat'>
                <div class='label'>Nice Things</div>
                <div class='value'>625</div>
                <div class="label">Nice directly attributed to you</div>
            </div>
        </div>
        <div>
            <div class="ui vertical menu">
              <a class="active teal item">Inbox<div class="ui teal pointing left label">9</div></a>
              <a class="item">Spam<div class="ui label">51</div></a>
              <a class="item">Updates<div class="ui label">1</div></a>
          </div>
      </div>
  </div>
  <div class='map margin-top'>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2674.1231407599025!2d106.9150149306034!3d47.914654737141085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1smn!2smn!4v1453028489882" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>
{% endblock %}