{% extends "submain.html" %}
{% block subcontent %}
<div id='explore'>
    <div class="ui three stackable cards">
        <div class="card">
            <div class="content">
                <img class="right floated mini ui image" src="img/profile_default_male.jpg">
                <div class="header">
                    Elliot Fu
                </div>
                <div class="meta">
                    Friends of Veronika
                </div>
                <div class="description">
                    Elliot requested permission to view your contact details
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">
                    <i class="heart outline like icon"></i>
                    17 likes
                </span>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <img class="right floated mini ui image" src="img/profile_default_female.jpg">
                <div class="header">
                    Elliot Fu
                </div>
                <div class="meta">
                    Friends of Veronika
                </div>
                <div class="description">
                    Elliot requested permission to view your contact details
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">
                    <i class="heart outline like icon"></i>
                    17 likes
                </span>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <img class="right floated mini ui image" src="img/profile_default_male.jpg">
                <div class="header">
                    Elliot Fu
                </div>
                <div class="meta">
                    Friends of Veronika
                </div>
                <div class="description">
                    Elliot requested permission to view your contact details
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">
                    <i class="heart outline like icon"></i>
                    17 likes
                </span>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <img class="right floated mini ui image" src="img/profile_default_female.jpg">
                <div class="header">
                    Elliot Fu
                </div>
                <div class="meta">
                    Friends of Veronika
                </div>
                <div class="description">
                    Elliot requested permission to view your contact details
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">
                    <i class="heart outline like icon"></i>
                    17 likes
                </span>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <img class="right floated mini ui image" src="img/profile_default_male.jpg">
                <div class="header">
                    Elliot Fu
                </div>
                <div class="meta">
                    Friends of Veronika
                </div>
                <div class="description">
                    Elliot requested permission to view your contact details
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">
                    <i class="heart outline like icon"></i>
                    17 likes
                </span>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <img class="right floated mini ui image" src="img/profile_default_male.jpg">
                <div class="header">
                    Elliot Fu
                </div>
                <div class="meta">
                    Friends of Veronika
                </div>
                <div class="description">
                    Elliot requested permission to view your contact details
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">
                    <i class="heart outline like icon"></i>
                    17 likes
                </span>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <img class="right floated mini ui image" src="img/profile_default_male.jpg">
                <div class="header">
                    Elliot Fu
                </div>
                <div class="meta">
                    Friends of Veronika
                </div>
                <div class="description">
                    Elliot requested permission to view your contact details
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">
                    <i class="heart outline like icon"></i>
                    17 likes
                </span>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <img class="right floated mini ui image" src="img/profile_default_female.jpg">
                <div class="header">
                    Elliot Fu
                </div>
                <div class="meta">
                    Friends of Veronika
                </div>
                <div class="description">
                    Elliot requested permission to view your contact details
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">
                    <i class="heart outline like icon"></i>
                    17 likes
                </span>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <img class="right floated mini ui image" src="img/profile_default_male.jpg">
                <div class="header">
                    Elliot Fu
                </div>
                <div class="meta">
                    Friends of Veronika
                </div>
                <div class="description">
                    Elliot requested permission to view your contact details
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">
                    <i class="heart outline like icon"></i>
                    17 likes
                </span>
            </div>
        </div>
    </div>
    <div class='actions flex end'>
        <button class='ui green button'>Prev</button>
        <button class='ui green button'>Next</button>
    </div>
</div>
{% endblock %}