{% extends "submain.html" %}
{% block subcontent %}
<div class="ui four doubling cards">
    <div class="card">
        <div class="content">
            <img class="right floated mini ui image" src="img/cat.jpg">
            <div class="header">
                Elliot Fu
            </div>
            <div class="meta">
                Friends of Veronika
            </div>
            <div class="description">
                Elliot requested permission to view your contact details
            </div>
        </div>
        <div class="extra content">
            <span class="right floated">
                <i class="heart outline like icon"></i>
                17 likes
            </span>
            <span>
                <i class="user icon"></i>
                35 Friends
            </span>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <img class="right floated mini ui image" src="img/cat.jpg">
            <div class="header">
                Elliot Fu
            </div>
            <div class="meta">
                Friends of Veronika
            </div>
            <div class="description">
                Elliot requested permission to view your contact details
            </div>
        </div>
        <div class="extra content">
            <span class="right floated">
                <i class="heart outline like icon"></i>
                17 likes
            </span>
            <span>
                <i class="user icon"></i>
                35 Friends
            </span>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <img class="right floated mini ui image" src="img/cat.jpg">
            <div class="header">
                Elliot Fu
            </div>
            <div class="meta">
                Friends of Veronika
            </div>
            <div class="description">
                Elliot requested permission to view your contact details
            </div>
        </div>
        <div class="extra content">
            <span class="right floated">
                <i class="heart outline like icon"></i>
                17 likes
            </span>
            <span>
                <i class="user icon"></i>
                35 Friends
            </span>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <img class="right floated mini ui image" src="img/cat.jpg">
            <div class="header">
                Elliot Fu
            </div>
            <div class="meta">
                Friends of Veronika
            </div>
            <div class="description">
                Elliot requested permission to view your contact details
            </div>
        </div>
        <div class="extra content">
            <span class="right floated">
                <i class="heart outline like icon"></i>
                17 likes
            </span>
            <span>
                <i class="user icon"></i>
                35 Friends
            </span>
        </div>
    </div>
</div>
{% endblock %}