{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
    <h5 class="col s2">LATEST</h5>
    <h5 class="col s3">MOST VOTED</h5>
    </div>
    <div class="row">
        <div class="col s5 m6 12">
            <div class="card">
                <div class="row">

                    <div class="card-image col s6">
                        <img src="./img/cat.jpg">
                    </div>
                    <div class="card-content col s6">
                        <span class="title green-text">Card Title</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>

                </div>
                <ul class="collection">
                    <li class="collection-item avatar">
                    <img src="./img/cat.jpg" alt="" class="circle">
                    <span class="title">Mr Cat</span>
                    <h6>22/12/2015<br></h6>
                    <div class="secondary-content">
                        <div class="row orange-text">
                            <h6 class="col m8">27 VOTE</h6>
                            <i class="material-icons col m4">thumb_up</i></div></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col s5 m6 12">
            <div class="card">
                <div class="row">

                    <div class="card-image col s6">
                        <img src="./img/cat.jpg">
                    </div>
                    <div class="card-content col s6">
                        <span class="title green-text">Card Title</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>

                </div>
                <ul class="collection">
                    <li class="collection-item avatar">
                    <img src="./img/cat.jpg" alt="" class="circle">
                    <span class="title">Mr Cat</span>
                    <h6>22/12/2015<br></h6>
                    <div class="secondary-content">
                        <div class="row orange-text">
                            <h6 class="col m8">27 VOTE</h6>
                            <i class="material-icons col m4">thumb_up</i></div></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>    <div class="row">
        <div class="col s5 m6 12">
            <div class="card">
                <div class="row">

                    <div class="card-image col s6">
                        <img src="./img/cat.jpg">
                    </div>
                    <div class="card-content col s6">
                        <span class="title green-text">Card Title</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>

                </div>
                <ul class="collection">
                    <li class="collection-item avatar">
                    <img src="./img/cat.jpg" alt="" class="circle">
                    <span class="title">Mr Cat</span>
                    <h6>22/12/2015<br></h6>
                    <div class="secondary-content">
                        <div class="row orange-text">
                            <h6 class="col m8">27 VOTE</h6>
                            <i class="material-icons col m4">thumb_up</i></div></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col s5 m6 12">
            <div class="card">
                <div class="row">

                    <div class="card-image col s6">
                        <img src="./img/cat.jpg">
                    </div>
                    <div class="card-content col s6">
                        <span class="title green-text">Card Title</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>

                </div>
                <ul class="collection">
                    <li class="collection-item avatar">
                    <img src="./img/cat.jpg" alt="" class="circle">
                    <span class="title">Mr Cat</span>
                    <h6>22/12/2015<br></h6>
                    <div class="secondary-content">
                        <div class="row orange-text">
                            <h6 class="col m8">27 VOTE</h6>
                            <i class="material-icons col m4">thumb_up</i></div></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>    <div class="row">
        <div class="col s5 m6 12">
            <div class="card">
                <div class="row">

                    <div class="card-image col s6">
                        <img src="./img/cat.jpg">
                    </div>
                    <div class="card-content col s6">
                        <span class="title green-text">Card Title</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>

                </div>
                <ul class="collection">
                    <li class="collection-item avatar">
                    <img src="./img/cat.jpg" alt="" class="circle">
                    <span class="title">Mr Cat</span>
                    <h6>22/12/2015<br></h6>
                    <div class="secondary-content">
                        <div class="row orange-text">
                            <h6 class="col m8">27 VOTE</h6>
                            <i class="material-icons col m4">thumb_up</i></div></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col s5 m6 12">
            <div class="card">
                <div class="row">

                    <div class="card-image col s6">
                        <img src="./img/cat.jpg">
                    </div>
                    <div class="card-content col s6">
                        <span class="title green-text">Card Title</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>

                </div>
                <ul class="collection">
                    <li class="collection-item avatar">
                    <img src="./img/cat.jpg" alt="" class="circle">
                    <span class="title">Mr Cat</span>
                    <h6>22/12/2015<br></h6>
                    <div class="secondary-content">
                        <div class="row orange-text">
                            <h6 class="col m8">27 VOTE</h6>
                            <i class="material-icons col m4">thumb_up</i></div></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>    <div class="row">
        <div class="col s5 m6 12">
            <div class="card">
                <div class="row">

                    <div class="card-image col s6">
                        <img src="./img/cat.jpg">
                    </div>
                    <div class="card-content col s6">
                        <span class="title green-text">Card Title</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>

                </div>
                <ul class="collection">
                    <li class="collection-item avatar">
                    <img src="./img/cat.jpg" alt="" class="circle">
                    <span class="title">Mr Cat</span>
                    <h6>22/12/2015<br></h6>
                    <div class="secondary-content">
                        <div class="row orange-text">
                            <h6 class="col m8">27 VOTE</h6>
                            <i class="material-icons col m4">thumb_up</i></div></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col s5 m6 12">
            <div class="card">
                <div class="row">

                    <div class="card-image col s6">
                        <img src="./img/cat.jpg">
                    </div>
                    <div class="card-content col s6">
                        <span class="title green-text">Card Title</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>

                </div>
                <ul class="collection">
                    <li class="collection-item avatar">
                    <img src="./img/cat.jpg" alt="" class="circle">
                    <span class="title">Mr Cat</span>
                    <h6>22/12/2015<br></h6>
                    <div class="secondary-content">
                        <div class="row orange-text">
                            <h6 class="col m8">27 VOTE</h6>
                            <i class="material-icons col m4">thumb_up</i></div></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>    <div class="row">
        <div class="col s5 m6 12">
            <div class="card">
                <div class="row">

                    <div class="card-image col s6">
                        <img src="./img/cat.jpg">
                    </div>
                    <div class="card-content col s6">
                        <span class="title green-text">Card Title</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>

                </div>
                <ul class="collection">
                    <li class="collection-item avatar">
                    <img src="./img/cat.jpg" alt="" class="circle">
                    <span class="title">Mr Cat</span>
                    <h6>22/12/2015<br></h6>
                    <div class="secondary-content">
                        <div class="row orange-text">
                            <h6 class="col m8">27 VOTE</h6>
                            <i class="material-icons col m4">thumb_up</i></div></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col s5 m6 12">
            <div class="card">
                <div class="row">

                    <div class="card-image col s6">
                        <img src="./img/cat.jpg">
                    </div>
                    <div class="card-content col s6">
                        <span class="title green-text">Card Title</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>

                </div>
                <ul class="collection">
                    <li class="collection-item avatar">
                    <img src="./img/cat.jpg" alt="" class="circle">
                    <span class="title">Mr Cat</span>
                    <h6>22/12/2015<br></h6>
                    <div class="secondary-content">
                        <div class="row orange-text">
                            <h6 class="col m8">27 VOTE</h6>
                            <i class="material-icons col m4">thumb_up</i></div></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}