{% extends "submain.html" %}
{% block subcontent %}
<div class="container dashboard">
    <div class='row'>
        <div class='col s12 m4 l3'>
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="./img/cat.jpg">
                </div>
                <div class="card-content">
                    <div class='center-align'>
                        <span style="font-size: 1.25em">Naranbayar Tsogbadrakh</span>
                    </div>
                    <div class='flex middle center'>
                        <div class='big-font green-text'>#36</div>
                        <div class='uppercase' style='margin-left:10px;'>IOS Developer</div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col s12 m4 l3'>
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="img/cat.jpg">
                </div>
                <div class="card-content">
                    <div class='center-align'>
                        <span style="font-size: 1.25em">Naranbayar Tsogbadrakh</span>
                    </div>
                    <div class='flex middle center'>
                        <div class='big-font green-text'>#36</div>
                        <div class='uppercase' style='margin-left:10px;'>IOS Developer</div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col s12 m4 l3'>
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="img/cat.jpg">
                </div>
                <div class="card-content">
                    <div class='center-align'>
                        <span style="font-size: 1.25em">Naranbayar Tsogbadrakh</span>
                    </div>
                    <div class='flex middle center'>
                        <div class='big-font green-text'>#36</div>
                        <div class='uppercase' style='margin-left:10px;'>IOS Developer</div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col s12 m4 l3'>
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="img/cat.jpg">
                </div>
                <div class="card-content">
                    <div class='center-align'>
                        <span style="font-size: 1.25em">Naranbayar Tsogbadrakh</span>
                    </div>
                    <div class='flex middle center'>
                        <div class='big-font green-text'>#36</div>
                        <div class='uppercase' style='margin-left:10px;'>IOS Developer</div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col s12 m4 l3'>
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="img/cat.jpg">
                </div>
                <div class="card-content">
                    <div class='center-align'>
                        <span style="font-size: 1.25em">Naranbayar Tsogbadrakh</span>
                    </div>
                    <div class='flex middle center'>
                        <div class='big-font green-text'>#36</div>
                        <div class='uppercase' style='margin-left:10px;'>IOS Developer</div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col s12 m4 l3'>
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="img/cat.jpg">
                </div>
                <div class="card-content">
                    <div class='center-align'>
                        <span style="font-size: 1.25em">Naranbayar Tsogbadrakh</span>
                    </div>
                    <div class='flex middle center'>
                        <div class='big-font green-text'>#36</div>
                        <div class='uppercase' style='margin-left:10px;'>IOS Developer</div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col s12 m4 l3'>
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="img/cat.jpg">
                </div>
                <div class="card-content">
                    <div class='center-align'>
                        <span style="font-size: 1.25em">Naranbayar Tsogbadrakh</span>
                    </div>
                    <div class='flex middle center'>
                        <div class='big-font green-text'>#36</div>
                        <div class='uppercase' style='margin-left:10px;'>IOS Developer</div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col s12 m4 l3'>
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="img/cat.jpg">
                </div>
                <div class="card-content">
                    <div class='center-align'>
                        <span style="font-size: 1.25em">Naranbayar Tsogbadrakh</span>
                    </div>
                    <div class='flex middle center'>
                        <div class='big-font green-text'>#36</div>
                        <div class='uppercase' style='margin-left:10px;'>IOS Developer</div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col s12 m4 l3'>
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="img/cat.jpg">
                </div>
                <div class="card-content">
                    <div class='center-align'>
                        <span style="font-size: 1.25em">Naranbayar Tsogbadrakh</span>
                    </div>
                    <div class='flex middle center'>
                        <div class='big-font green-text'>#36</div>
                        <div class='uppercase' style='margin-left:10px;'>IOS Developer</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}