{% extends "base.html" %}
{% block content %}
<div class="ui container">
    <div class="flex center">
        <div id="login">
            <div class="ui top attached tabular menu">
                <a class="item active" data-tab="login">Login</a>
                <a class="item" data-tab="register">Register</a>
            </div>
            <div class="ui bottom attached tab segment active" data-tab="login">
                <form class="ui form">
                    <input type="email" placeholder="Email">
                    <input type="password" placeholder="Password">
                    <div class="flex between middle">
                        <div class="ui checkbox">
                            <input type="checkbox">
                            <label>Login as guest</label>
                        </div>
                        <button class="ui green button">Login</button>
                    </div>
                </form>
            </div>
            <div class="ui bottom attached tab segment" data-tab="register">
                <form class="ui form">
                    <input type="text" placeholder="First Name">
                    <input type="text" placeholder="Last Name">
                    <input type="text" placeholder="email">
                    <input type="password" placeholder="password">
                    <input type="password" placeholder="Type password again">
                    <div class="flex end">
                        <button class="ui green button">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}