{% extends "base.html" %}
{% block content %}
<div class="ui container">
    <div class="flex center">
        <div id="login">
            <div class="ui secondary menu">
                <a class="item active" data-tab="login">Login</a>
                <a class="item" data-tab="register">Register</a>
            </div>
            <div class="ui bottom attached tab  active" data-tab="login">
                <form class="ui form attached fluid segment login">
                    <div class="field">
                        <label>Username</label>
                        <input placeholder="Username" name="username" type="text">
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input type="password" name="password">
                    </div>             
                    <div class="fluid ui green submit button">Login</div>
                    <div class="ui error message">
                        <div class="header">Check your username password !</div>
                    </div>
                </form>
                <div class="ui bottom attached warning message">
                    <i class="icon help"></i>
                    <a href="index.php?forgot">Forgot your password? </a> 
                </div>
            </div>
            <div class="ui bottom attached tab " data-tab="register">
                <form class="ui form segment register" >
                    <div class="field">
                        <label>Firstname</label>
                        <input placeholder="Name" name="first" type="text">
                    </div>
                    <div class="field">
                        <label>Lastname</label>
                        <input placeholder="Surname" name="last" type="text">
                    </div>
                    <div class="field">
                        <label>Email</label>
                        <input placeholder="Email" name="email" type="text">
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input type="password" name="password">
                    </div>           
                    <div class="fluid ui green submit button">Register</div>
                    <div class="ui error message">
                        <div class="header">Email or user name is already in the system!</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripting %}
{{ parent() }}
<script src="js/init.js"></script>  
<script type="text/javascript">
$(function() {
    $('.ui.form.login').form(login_validate)
    .api({
        action: 'login user',
        method: 'POST',
        serializeForm: true,
        data: {
          name: 22
      },
      beforeSend: function(settings) {
        console.log(settings.data);
        return settings;
    },
    onSuccess: function(response) {
        console.log(response.message);
        var url = "index.php?dashboard";
        window.location.replace(url); 
                      // valid response and response.success = true
                  },
                  onError: function(errorMessage) {
                    console.log(errorMessage);
                }
            });
    $('.ui.form.register').form(register_validate)
    .api({
        action: 'register user',
        method: 'POST',
        serializeForm: true,
        data: {
          check: 'register'
      },
      beforeSend: function(settings) {
        console.log(settings.data);
        return settings;
    },
    onSuccess: function(response) {
        console.log(response.message);
        var url = "index.php?dashboard";
        window.location.replace(url); 
                      // valid response and response.success = true
                  },
                  onError: function(errorMessage) {
                    console.log(errorMessage);
                }
            });
});
</script>
{% endblock %}