{% extends "base.html" %}
{% block content %}
<div class="ui container">
    <div class="flex center">
        <div id="login">
            <div class="ui top attached tabular menu">
                <a class="item active" data-tab="login">Login</a>
                <a class="item" data-tab="register">Register</a>
            </div>
            <div class="ui bottom attached tab segment active" data-tab="login">
                <form class="ui form" id="login">
                    <input name="email" type="text" placeholder="Email" required="" >
                    <input type="password" name="password" placeholder="Password" required="">
                    <div class="flex between middle">
                        <div class="ui checkbox">
                            <input type="checkbox" name="guest">
                            <label>Login as guest</label>
                        </div>
                        <button class="ui green button">Login</button>
                    </div>
                </form>
            </div>
            <div class="ui bottom attached tab segment" data-tab="register">
                <form class="ui form">
                    <input type="text" placeholder="First Name">
                    <input type="text" placeholder="Last Name">
                    <input type="text" placeholder="email">
                    <input type="password" placeholder="password">
                    <input type="password" placeholder="Type password again">
                    <div class="flex end">
                        <button class="ui green button">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripting %}
    {{ parent() }}
     <script type="text/javascript">
        $.fn.serializeObject = function(){
              var o = {};
              var a = this.serializeArray();
              $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
              });
              return o;
        };
        $(function() {
           
            $( "#login" ).submit(function( event ) {
                event.preventDefault();
                var j = $("#login").serializeObject();
                $.ajax({
                    type: "POST",
                    url: "login.php",
                    data: {data:j},
                    success: function(data, textStatus, jqXHR){
                         alert(data);
                         return;
                        if (data==0){
                            alert(data);
                        }else{
                            var url = "index.php?dashboard";  
                            window.location.replace(url); 
                        }
                    }
                });
            });
        });
  </script>
{% endblock %}