{% extends "submain.html" %}
{% block subcontent %}
    <div class="ui segment"style="width:100%; height:500px">
        <div class="ui active inverted dimmer">
            <div id="map_canvas" style="width:100%; height:500px"></div> 
            <div id="loading" class="ui text loader hidden">Loading</div>
        </div>
        <p></p>
    </div>
{% endblock %}
    {% block scripting %}
    {{ parent() }}

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
    <script type="text/javascript" src="js/v3_epoly.js"></script>
    <script type="text/javascript" charset="utf-8">
    var userPoint = [];

    {% if user %}

        userPoint.push({lat: '{{ user.location.latitude }}', lng: '{{ user.location.longitude }}', 
                name:'{{ user.first }}', id:'{{ user.objectId }}', image: '{{user.avatar}}'});

    {% endif %}

    var childPoint = [];

    {% for nicething in nicethings %}
        {% if nicething.location %}

        childPoint.push({lat: '{{ nicething.location.latitude }}', lng: '{{ nicething.location.longitude }}', 
                name:'{{ nicething.refered_user.first }}',location:'{{ nicething.location_name }}', 
                image: '{{ nicething.refered_user.avatar }}', id:'{{ nicething.refered_user.objectId}}', 
                thing:'{{ nicething.nice_thing }}', thing_id: '{{ nicething.objectId }}'});

        {% endif %}
    {% endfor %}
    console.log(childPoint);
    </script>
    <script type="text/javascript" src="js/mapmore.js" charset="utf-8"></script>
{% endblock %}
