{% extends "submain.html" %}
{% block subcontent %}
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 400px;
      }
      #map .gm-style{
        height: 400px;
      }
    </style>
    <div id="map"></div>
    <script>

// This example creates a 2-pixel-wide red polyline showing the path of William
// Kingsford Smith's first trans-Pacific flight between Oakland, CA, and
// Brisbane, Australia.

function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 4,
    center: {lat: 39.656, lng: -104.897},
    mapTypeId: google.maps.MapTypeId.TERRAIN
  });

  var flightPlanCoordinates = [
    {lat: 39.656, lng: -104.897},
    {lat: 36.066, lng: -115.092},
    {lat: 39.656, lng: -104.897},
    {lat: 37.631, lng: -97.250},
    {lat: 39.656, lng: -104.897},
    {lat: 34.976, lng: -106.545}
  ];
  var flightPath = new google.maps.Polyline({
    path: flightPlanCoordinates,
    geodesic: true,
    strokeColor: '#40B553',
    strokeOpacity: 1.0,
    strokeWeight: 2
  });

var marker = new google.maps.Marker({
    position: {lat: 39.656, lng: -104.897},
    map: map,
    title: 'Hello World!'
  });

  flightPath.setMap(map);
}

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMBjviMpi2gIUKzigBO3HQdKIjkx4XxvY&signed_in=true&callback=initMap"></script>
{% endblock %}

