{% extends "submain.html" %}
{% block subcontent %}
<div class='ui three stackable cards'>
    <div class="card">
      <div class="content">
        <div class="header">Nice Things Name</div>
    </div>
    <div class="content flex middle between">
        <div><span><i class="user icon"></i>Khangai</span></div>
        <div>
            <div><span><i class="location arrow icon"></i>Ulaanbaatar</span></div>
            <div><span><i class="calendar icon"></i>2016/06/06</span></div>
        </div>
    </div>
    <div class='extra content'>
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
    </div>
    <div class='extra content'>
        How did you feel
    </div>
    <div class='extra content flex between middle'>
        <div class="ui green icon dropdown button">
            <span class="text">Share</span>
            <div class='menu'>
                <div class="item"><a href='#'><i class='large twitter icon'></i>Twitter</a></div>
                <div class="item"><a href='#'><i class='large facebook square icon'></i>Facebook</a></div>
                <div class="item"><a href='#'><i class='large instagram icon'></i>Instagram</a></div>
            </div>
        </div>
        <div class="ui dropdown">
            Only me <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">Choice 1</div>
                <div class="item">Choice 2</div>
                <div class="item">Choice 3</div>
            </div>
        </div>
        <button class='ui green button'>Edit</button>
    </div>
</div>
<div class="card">
  <div class="content">
    <div class="header">Nice Things Name</div>
</div>
<div class="content flex middle between">
    <div><span><i class="user icon"></i>Khangai</span></div>
    <div>
        <div><span><i class="location arrow icon"></i>Ulaanbaatar</span></div>
        <div><span><i class="calendar icon"></i>2016/06/06</span></div>
    </div>
</div>
<div class='extra content'>
    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
</div>
<div class='extra content'>
    How did you feel
</div>
<div class='extra content flex between middle'>
    <div class="ui green icon dropdown button">
        <span class="text">Share</span>
        <div class='menu'>
            <div class="item"><a href='#'><i class='large twitter icon'></i>Twitter</a></div>
            <div class="item"><a href='#'><i class='large facebook square icon'></i>Facebook</a></div>
            <div class="item"><a href='#'><i class='large instagram icon'></i>Instagram</a></div>
        </div>
    </div>
    <div class="ui dropdown">
        Only me <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item">Choice 1</div>
            <div class="item">Choice 2</div>
            <div class="item">Choice 3</div>
        </div>
    </div>
    <button class='ui green button'>Edit</button>
</div>
</div>
<div class="card">
  <div class="content">
    <div class="header">Nice Things Name</div>
</div>
<div class="content flex middle between">
    <div><span><i class="user icon"></i>Khangai</span></div>
    <div>
        <div><span><i class="location arrow icon"></i>Ulaanbaatar</span></div>
        <div><span><i class="calendar icon"></i>2016/06/06</span></div>
    </div>
</div>
<div class='extra content'>
    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
</div>
<div class='extra content'>
    How did you feel
</div>
<div class='extra content flex between middle'>
    <div class="ui green icon dropdown button">
        <span class="text">Share</span>
        <div class='menu'>
            <div class="item"><a href='#'><i class='large twitter icon'></i>Twitter</a></div>
            <div class="item"><a href='#'><i class='large facebook square icon'></i>Facebook</a></div>
            <div class="item"><a href='#'><i class='large instagram icon'></i>Instagram</a></div>
        </div>
    </div>
    <div class="ui dropdown">
        Only me <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item">Choice 1</div>
            <div class="item">Choice 2</div>
            <div class="item">Choice 3</div>
        </div>
    </div>
    <button class='ui green button'>Edit</button>
</div>
</div>
</div>
{% endblock %}
{% block scripting %}
{{ parent() }}
<script type="text/javascript">
$('.ui.dropdown').dropdown();
</script>
{% endblock %}