{% extends "submain.html" %}
{% block subcontent %}
    <div class="tree dragscroll">
        <ul class='active'>
            <li>
            <a data-show='1'><span><img src='{{user.avatar}}'></span><span>{{ user.username }}</span></a>
            <ul>
                {% for tree in trees %}
                <li>
                <a onclick="tree('{{ tree.id }}');"><span><img src='{{ tree.avatar }}'>
                </span><span>{{ tree.username }}</span></a>
                <ul id="{{ tree.id }}">
                </ul>
                </li>
                {% endfor %}
            </ul>
            </li>
        </ul>
    </div>
{% endblock %}
{% block scripting %}
    <script src='js/dragscroll.js'></script>
    <script src='js/jquery-2.2.0.min.js'></script>
    <script>
    function tree(id){
        $.ajax({
            type: "POST",
            url: "index.php",
            data: {viewTree:id},
            success: function(data, textStatus, jqXHR)
            {
                var nicething = data;
                var content = "";
                for(var i=0; i<nicething.length; i++){
                    content +="<li><a onclick=tree('"+nicething[i].id+"');><span><img src='"+nicething[i].avatar+"'></span><span>"+
                    nicething[i].username+"</span></a><ul id='"+nicething[i].id+"'></ul></li>";
                }
                $("#"+id).empty();
                $("#"+id).append(content);
            }
        });
    }
    $(function(){
        function treeWidth(){
        var window_w = $(window).width(),
        menu_w =  $('#submenu').width(),
        container_w = $('.container').width(),
        margin_left = parseInt($('.margin-left').css('margin-left'),10),
        tree_w = container_w - menu_w - margin_left; 
        $('.tree').width(tree_w);
        }
        treeWidth();
        $(window).resize(function(){
                treeWidth();
                })

        $(document).on('click','.active>li>a',function(){
                $this = $(this).next('ul');
                if($this.hasClass('active')){
                $this.removeClass('active');
                $this.find('ul').removeClass('active');
                }else{
                $this.addClass('active')
                }
                });

        var offset_element = $('.tree>ul>li>a').offset(),
            offset_tree = $('.tree').offset(),
            tree_h = $('.tree').height(),
            element_h = $('.tree>ul>li>a').height(),
            tree_w = $('.tree').width(),
            element_w = $('.tree>ul>li>a').width();

        $('.tree .active>li>ul').addClass('active');

        $('.tree').scrollLeft(offset_element.left - offset_tree.left - (tree_w - element_w)/2);
        $('.tree').scrollTop(offset_element.top - offset_tree.top - (tree_h - element_h)/2);
    });
        $('.ui.dropdown').dropdown();
    </script>
{% endblock %}
