{% extends "submain.html" %}
{% block subcontent %}
<div class="ui card">
  <div class="content">
    <div class="header">Nice Things Name</div>
</div>
<div class="content">
    <div><span><i class="user icon"></i>Khangai</span></div>
    <div><span><i class="location arrow icon"></i>Ulaanbaatar</span></div>
    <div><span><i class="calendar icon"></i>2016/06/06</span></div>
</div>
<div class='extra content'>
    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
</div>
<div class='extra content'>
    How did you feel
</div>
<div class='extra content'>
    <div class="ui labeled icon dropdown button">
        <span class="text">Menu</span>
        <i class="dropdown icon"></i>
    </div>
</div>
</div>
{% endblock %}
{% block scripting %}
{{ parent() }}
<script type="text/javascript">
$('.ui.dropdown').dropdown();
</script>
{% endblock %}