{% extends "submain.html" %}
{% block subcontent %}
<div id='mythings'>
    <div class='flex end'>
        <div class="ui search">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search...">
            <i class="search icon"></i>
        </div>
    </div>
</div>
<table class="ui celled striped table">
    <thead>
        <tr>
            <th>#</th>
            <th>Location</th>
            <th>Nice Thing</th>
            <th>For who</th>
            <th>How did you feel?</th>
            <th>Privacy</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="index.php?things">1</a></td>
            <td><a href="#">Ub, Mongolia</a></td>
            <td>Nice Thing Name</td>
            <td>Someone's Name</td>
            <td>Feeling</td>
            <td>Only me</td>
            <td class="right aligned collapsing">12/02/14</td>
        </tr>
        <tr>
            <td><a href="#">2</a></td>
            <td>Ub, Mongolia</td>
            <td>Nice Thing Name</td>
            <td>Someone's Name</td>
            <td>Feeling</td>
            <td>Only me</td>
            <td class="right aligned collapsing">12/02/14</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="8">
                <div class="flex end middle footer">
                    <div>
                        <div class="xs-hide">
                            <span>Rows per page:</span>
                            <select class="ui dropdown">
                                <option value="">10</option>
                                <option value="">20</option>
                                <option value="">30</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <span>1</span><span>of</span><span>10</span>
                    </div>
                    <div>
                        <a href="#"><i class="left chevron icon"></i></a>
                        <a href="#"><i class="right chevron icon"></i></a>
                    </div>
                </div>
            </th>
        </tr>
    </tfoot>
</table>
</div>
{% endblock %}