{% extends "base-logged.html" %}
{% block content %}
<div class="container">
    <ul id='menu' class='grey lighten-4 row'>
        <li class='col s12 m2 l2'><a href='#'>My Dashboard</a></li>
        <li class='col s12 m2 l2'><a href='#'>My Nice Things</a></li>
        <li class='col s12 m2 l2'><a href='#'>My Tree</a></li>
        <li class='col s12 m2 l2'><a href='#'>My Map</a></li>
        <li class='active col s12 m2 l2'><a href='#'>My Friends</a></li>
        <li class='col s12 m2 l2'><a href='#'>Settings</a></li>
    </ul>
    <div class='row'>
        <div class='col s12 m12 l12'>
            
            <div id="tree-container"></div>
            <div id="bio"></div>

        </div>
        
</div>
{% endblock %}


{% block scripting %}

 <link rel="stylesheet" type="text/css" href="style/tree.css">
 <script src="bower_components/jquery/dist/jquery.min.js"></script>
 <script src="bower_components/d3/d3.min.js"></script>
 <script src="scripts/jquery.hoverIntent.minified.js"></script>
 <script src="scripts/tree.js"></script>


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script>

    $(document).ready(function () {
        $('select').material_select();
    });


    $(document).ready(function () {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal();
    });


</script>


{% endblock %}