{% extends "submain.html" %}
{% block subcontent %}
<div class="tree dragscroll">
  <ul class='active'>
    <li>
      <a><span><img src='img/placeholder.png'></span><span>FirstName</span></a>
      <ul>
        <li>
         <a><span><img src='img/placeholder.png'></span><span>FirstName</span></a>
         <ul>
          <li>
            <a><span><img src='img/placeholder.png'></span><span>FirstName</span></a>
          </li>
          <li>
            <a><span><img src='img/placeholder.png'></span><span>FirstName</span></a>
          </li>
          <li>
            <a><span><img src='img/placeholder.png'></span><span>FirstName</span></a>
          </li>
          <li>
            <a><span><img src='img/placeholder.png'></span><span>FirstName</span></a>
          </li>
          <li>
            <a><span><img src='img/placeholder.png'></span><span>FirstName</span></a>
          </li>
          <li>
            <a><span><img src='img/placeholder.png'></span><span>FirstName</span></a>
          </li>
        </ul>
      </li>
      <li>
        <a><span><img src='img/placeholder.png'></span><span>FirstName</span></a>
        <ul>
          <li><a><span><img src='img/placeholder.png'></span><span>FirstName</span></a></li>
          <li>
           <a><span><img src='img/placeholder.png'></span><span>FirstName</span></a>
           <ul>
            <li>
             <a><span><img src='img/placeholder.png'></span><span>FirstName</span></a>
           </li>
           <li>
             <a><span><img src='img/placeholder.png'></span><span>FirstNam</span></a>
           </li>
           <li>
             <a><span><img src='img/placeholder.png'></span><span>FirstName</span></a>
             <ul>
              <li>
               <a><span><img src='img/placeholder.png'></span><span>FirstName</span></a>
             </li>
             <li>
               <a><span><img src='img/placeholder.png'></span><span>FirstNam</span></a>
             </li>
             <li>
               <a><span><img src='img/placeholder.png'></span><span>FirstName</span></a>
             </li>
           </ul>
         </li>
       </ul>
     </li>
     <li><a><span><img src='img/placeholder.png'></span><span>FirstName</span></a></li>
   </ul>
 </li>
</ul>
</li>
</ul>
</div>
<script src='js/dragscroll.js'></script>
<script src='js/jquery-2.2.0.min.js'></script>
<script>
$(function(){
  function treeWidth(){
    window_w = $(window).width();
    menu_w =  $('#submenu').width();
    container_w = $('.container').width();
    margin_left = parseInt($('.margin-left').css('margin-left'),10);
    tree_w = container_w - menu_w - margin_left;
    $('.tree').width(tree_w);
  }
  treeWidth();
  $(window).resize(function(){
    treeWidth();
  })

  $(document).on('click','.active>li>a',function(){
    $(this).next('ul').addClass('active');
  });
  var offset_element = $('.tree>ul>li>a').offset();
  var offset_tree = $('.tree').offset();
  var tree_h = $('.tree').height();
  var element_h = $('.tree>ul>li>a').height();
  var tree_w = $('.tree').width();
  var element_w = $('.tree>ul>li>a').width();

  $('.tree').scrollLeft(offset_element.left - offset_tree.left - (tree_w - element_w)/2);
  $('.tree').scrollTop(offset_element.top - offset_tree.top - (tree_h - element_h)/2);
});
</script>
{% endblock %}

