{% extends "base.html" %}
{% block content %}
<div class="ui container report_nice_thing">
    <div class='ui grid'>
        <div class='four wide column'></div>
        <div class='eight wide column'>
            <div class="ui raised segment" id="loglabel" style="left: -5px;">
                <a class="ui green ribbon label">Report Nice Thing!</a>
                <span>Your nice thing</span>
                <p></p>
            </div>
            <div class="content">
                <form class="ui form small">
                    <div class="field">
                        <label>Username Lookup</label>
                        <input type="text" name="username_looukup">
                    </div>
                    <div class="field">
                        <label>Location where did you do your nice thing ?</label>
                        <input type="text" name="">
                    </div>
                    <div class="field">
                        <label>What nice thing did you do ?</label>
                        <textarea rows="2"></textarea>
                    </div>
                    <div class="field">
                        <label>Who did you do it for ?</label>
                        <input type="text" name="" >
                        <p></p>
                        <label>How did you respond, how did you feel ?</label>
                        <input type="text" name="">
                    </div>

                    <div class="inline field">
                        <div class="ui checkbox">
                            <input type="checkbox" name="remember_me">
                            <label>Did you ask them to keep it going and did they agree?</label>
                        </div>
                    </div>
                    <div class="field">
                        <label>Would you like to leave any other message for this member?</label>
                        <textarea rows="2"></textarea>
                    </div>
                    <div class="field">
                        <div class="ui dropdown">
                            <span class="text" style="font-weight: 600;">Privacy settings</span>
                            <div class="menu">
                                <div class="scrolling menu">
                                    <div class="item">
                                        Only me 
                                    </div>
                                    <div class="item">
                                        Friends
                                    </div>
                                    <div class="item">
                                        Public
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui medium submit button">submit</div>
                    </div>
                </form>
            </div>
        </div>
        <div class='four wide column'></div>
    </div>
</div>
<br /><br />
{% endblock %}
