{% extends "base.html" %}
{% block content %}
<div class="ui container report_nice_thing">
    <div class='ui grid'>
        <div class='four wide column'></div>
        <div class='eight wide column'>
            <div class="ui raised segment" id="loglabel" style="left: -5px;">
                <a class="ui green ribbon label">Report Nice Thing!</a>
                <span>Tell your story to one you know :)</span>
                <p></p>
            </div>
            <div class="content">
                <form id="report_nice_thing" class="ui form small">
                    <div class="field">
                        <label>Username Lookup</label>
                        <input type="text" name="username" id="tags" placeholder="Enter username" required="">
                    </div>
                    <div class="field">
                        <label>Location where did you do your nice thing ?</label>
                        <input type="text" name="location" id="location" required="">
                    </div>
                    <div class="field">
                        <label>What nice thing did you do ?</label>
                        <textarea rows="2" name="content" required=""></textarea>
                    </div>
                    <div class="field">
                        <label>Who did you do it for ?</label>
                        <input type="text" name="who" >
                        <p></p>
                        <label>How did you respond, how did you feel ?</label>
                        <input type="text" name="feel" required="">
                    </div>

                    <div class="inline field">
                        <div class="ui checkbox">
                            <input type="checkbox" name="remember_me">
                            <label>Did you ask them to keep it going and did they agree?</label>
                        </div>
                    </div>
                    <div class="field">
                        <label>Would you like to leave any other message for this member?</label>
                        <textarea rows="2" name="message"></textarea>
                    </div>
                    <div class="field">
                        <div class="ui dropdown">
                            <span class="text" style="font-weight: 600;">Privacy settings ?</span>
                            <div class="menu">
                                <div class="scrolling menu">
                                    <div class="item" data-value="0">
                                        Only me 
                                    </div>
                                    <div class="item" data-value="1">
                                        Friends
                                    </div>
                                    <div class="item active" data-value="2">
                                        Public
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field" style="float:right">
                        <input type="submit" class="ui large submit button" />
                    </div>
                </form>
            </div>
        </div>
        <div class='four wide column'></div>
    </div>
</div>
<br /><br />
{% endblock %}
{% block scripting %}
    {{ parent() }}
     <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
     <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
     <script src="js/jquery.geocomplete.js"></script>
     <script type="text/javascript">
        $.fn.serializeObject = function(){
              var o = {};
              var a = this.serializeArray();
              $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
              });
              return o;
        };
        $(function() {
            var availableTags = [
                {% for user in users %}
                "{{user.username}}",
                {% endfor %}
                "travis"
            ];

            $( "#tags" ).autocomplete({
                source: availableTags
            });
            $("#location").geocomplete();

            $( "#report_nice_thing" ).submit(function( event ) {
                event.preventDefault();
                var j = $("#report_nice_thing").serializeObject();
                var dropdown = $('.ui.dropdown' ).dropdown('get value');
                
                if ( dropdown.jquery ) { 
                    alert("Please select privacy");
                    return;   
                }

                $.ajax({
                    type: "POST",
                    url: "add.php",
                    data: {data:j, privacy:dropdown},
                    success: function(data, textStatus, jqXHR){
                        if (data.indexOf("Error:") >= 0){
                            alert(data);
                        }else{
                            var url = "index.php?choose="+data;  
                            window.location.replace(url); 
                        }
                    }
                });
            });


        });
  </script>
{% endblock %}
