{% extends "base.html" %}
{% block content %}
<div class="flex center" id="report">
    <form class="ui form">
        <h1>Report Nice Things</h1>
        <div class="field">
            <label>Username Lookup</label>
            <input type="text" name="username_looukup">
        </div>
        <div class="field">
            <label>Location where did you do your nice thing ?</label>
            <input type="text" name="">
        </div>
        <div class="field">
            <label>What nice thing did you do ?</label>
            <textarea rows="2"></textarea>
        </div>
        <div class="field">
            <label>Who did you do it for ?</label>
            <input type="text" name="" >
            <p></p>
            <label>How did you respond, how did you feel ?</label>
            <input type="text" name="">
        </div>
        <div class="inline field">
            <div class="ui checkbox">
                <input type="checkbox" name="remember_me">
                <label>Did you ask them to keep it going and did they agree?</label>
            </div>
        </div>
        <div class="field">
            <label>Would you like to leave any other message for this member?</label>
            <textarea rows="2"></textarea>
        </div>
        <div class="ui selection dropdown">
            <input type="hidden" name="gender">
            <i class="dropdown icon"></i>
            <div class="default text">Gender</div>
            <div class="menu">
                <div class="item" data-value="1">Male</div>
                <div class="item" data-value="0">Female</div>
            </div>
        </div>
        <div class="flex end">
            <button class="ui green button">Submit</button>
        </div>
    </form>
</div>
<script>
    $('.ui.dropdown').dropdown();
</script>
{% endblock %}
