{% extends "submain.html" %}
{% block subcontent %}
    <div class="flex center">
        <form id="settings" class="ui form edit settings">
            <div class="flex xs-center">
                <div class="title">Change Profile Picture</div>
            </div>
            <div class="flex xs-flex-col xs-center middle">
                <div>
                    <img name="profile" value="" id="cover_imagePreview" class="ui tiny circular image" src="{{ user.avatar }}">
                </div>
                <div class="margin-left">
                    <input id="image" type="file">
                </div>
            </div>
            <div class="flex xs-center">
                <div class="title">Change Name</div>
            </div>
            <div class="flex xs-flex-col xs-center between">
                <div class='field flex-col'>
                    <input type="text" placeholder="First Name" name='first' value="{{ user.first }}">
                </div>
                <div class="field flex-col">
                    <input type="text" placeholder="Last Name" name='last' value="{{ user.last }}">
                </div>
            </div>
            <div class="flex xs-flex-col middle between xs-center">
                <div class="title">Change Email</div>
                <div class="xs-flex12 field flex-col">
                    <input type="email" placeholder="Email" name='email' value="{{ user.email }}">
                </div>
            </div>
            <div class="flex middle between xs-around">
                <div class="title">Account Public</div>
                <div class="ui checkbox">
                    <input type="checkbox">
                    <label></label>
                </div>
            </div>
            <textarea name="profile" id="profile_img" rows="100" cols="40" hidden ></textarea>
            <input type="hidden" name="check" id="" value="settings" />
            <input type="hidden" name="user_id" id="" value="{{ user.objectId }}" />
            <div class="flex end">
                <button class="ui green button">Save</button>
            </div>
            <div class="ui error message"></div>
        </form>
    </div>
{% endblock %}
{% block scripting %}
{{ parent() }}
    <script src="js/init.js"></script>  
    <script type="text/javascript">
    $(function() {
      $('.ui.form.edit').form(settings_validate)
      .api({
        action: 'settings user',
        method: 'POST',
        serializeForm: true,
        data: {
          check: 'settings'
        },
        beforeSend: function(settings) {
          return settings;
        },
        onSuccess: function(response) {
            var url = "index.php?settings";
            window.location.replace(url); 
            // valid response and response.success = true
        },
        onError: function(errorMessage) {
        }
        });
    });
    $("#image").on("change", function(){
        var files = !!this.files ? this.files : [];
        if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

        $.each( files, function( key, value ) {
            if (/^image/.test( files[key].type)){ // only image file
                var reader = new FileReader(); // instance of the FileReader
                reader.readAsDataURL(files[key]); // read the local file
                reader.onloadend = function(){ 
                    var img = $('#cover_imagePreview'); //Equivalent: $(document.createElement('img'))
                    img.attr('src', this.result);
                    $("#profile_img").text(this.result);
                }
            }else{
                alert("Зураг биш байна. Тохиромжтой зураг оруулна уу");
            }
        });
    });

    </script>
{% endblock %}
