{% extends "submain.html" %}
{% block subcontent %}
<div class='ui container'>
    <div class='flex center'>
        <form class='ui form settings'>
            <div>
                <a class='title'>Change Profile Picture</a>
                <div class='flex middle'>
                    <img class="ui circular image" src="img/cat.jpg" height='100' width='100'>
                    <div class="ui input">
                        <input type="file">
                    </div>
                </div>
            </div>
            <div>
                <a class='title'>Change Name</a>
                <div class='flex between'>
                    <div class="ui input">
                        <input type="text" placeholder='FirstName'>
                    </div>
                    <div class="ui input">
                        <input type="text" placeholder='LastName'>
                    </div>
                </div>
            </div>
            <div>
                <a class='title'>Change Password</a>
                <div>
                    <div class='flex between'>
                        <div class="ui input">
                            <input type="password" placeholder='Old password'>
                        </div>
                        <div class="ui input">
                            <input type="password" placeholder='New password'>
                        </div>
                    </div>
                    <div class="ui input margin">
                        <input type="password" placeholder='Type new password again'>
                    </div>
                </div>
            </div>
            <div class='flex between middle'>
                <a class='title'>Change Email</a>
                <div class="ui input">
                    <input type="email" placeholder='Your email'>
                </div>
            </div>
            <div class='flex between middle'>
                <a class='title'>Account Public</a>
                <div class="inline field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" tabindex="0" class="hidden">
                    </div>
                </div>
            </div>
            <div class='flex end'>
                <span><button class='ui green button'>Save</button></span>
            </div>
        </form>
    </div>
</div>
{% endblock %}
