{% extends "base.html" %}
{% block content %}
<div class='ui container'>
    {% if user %}
    <div class="flex xs-center">
        <div class="xs-hide">
            <div id='submenu' class='flex-col'>
                <a class="active item" href="index.php?dashboard">My Dashboard</a>
                <a class="item" href="index.php?nicethings">My Nice Things</a>
                <a class="item" href="index.php?tree">My Tree</a>
                <a class="item" href="index.php?mymap">My Map</a>
                <a class="item" href="index.php?friends">My Friends</a>
            </div>
        </div>
        <div class="margin-left flex12">
            {% block subcontent %}

            {% endblock %}
        </div>
    </div>
    {% else %}
        {% block subcontent1 %}
        {% endblock %}
    {% endif %}
</div>
{% endblock %}
