{% extends "base.html" %}
{% block content %}
<div class='ui container'>
    <div class="flex xs-wrap">
        <div>
            <div class="ui vertical menu" id='submenu'>
                <div class='item'>
                    <div class="ui transparent icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search icon"></i>
                    </div>
                </div>
                <a class="active item" href="index.php?dashboard">My Dashboard</a>
                <a class="item" href="index.php?nicethings">My Nice Things</a>
                <a class="item" href="index.php?tree">My tree</a>
                <a class="item" href="index.php?map">My Map</a>
                <a class="item" href="index.php?friends">My Friends</a>
            </div>
        </div>
        <div id="right-content" class="margin-left">
            {% block subcontent %}

            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
