{% extends "base.html" %}
{% block content %}
<div class="container">
    <ul id='menu' class='grey lighten-4 row'>
        <li class='{% if nav ==1 %} active {%endif%} col s12 m2 l2'><a href='index.php?dashboard'>My Dashboard</a></li>
        <li class='{% if nav ==2 %} active {%endif%}col s12 m2 l2'><a href='index.php?nicethings'>My Nice Things</a></li>
        <li class='{% if nav ==3 %} active {%endif%}col s12 m2 l2'><a href='index.php?tree'>My Tree</a></li>
        <li class='{% if nav ==4 %} active {%endif%}col s12 m2 l2'><a href='#'>My Map</a></li>
        <li class='{% if nav ==5 %} active {%endif%}col s12 m2 l2'><a href='index.php?friends'>My Friends</a></li>
        <li class='{% if nav ==6 %} active {%endif%}col s12 m2 l2'><a href='#'>Settings</a></li>
    </ul>

</div>
    {% block subcontent %}

    {% endblock %}
{% endblock %}