{% extends "submain.html" %}
{% block subcontent %}
<div class="ui three stackable cards">
  <div class="card">
    <div class="image">
      <img src="img/placeholder.png">
    </div>
    <div class="content">
      <a class="header">Kristy</a>
      <div class="description">
        Kristy is an art director living in New York.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="img/placeholder.png">
    </div>
    <div class="content">
      <a class="header">Kristy</a>
      <div class="description">
        Kristy is an art director living in New York.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="img/background1.jpg">
    </div>
    <div class="content">
      <a class="header">Kristy</a>
      <div class="description">
        Kristy is an art director living in New York.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="img/placeholder.png">
    </div>
    <div class="content">
      <a class="header">Kristy</a>
      <div class="description">
        Kristy is an art director living in New York.
      </div>
    </div>
  </div>
</div>
<div class='flex end actions'>
  <a class='ui button green'>NEXT</a>
  <a class='ui button green'>PREV</a>
</div>
{% endblock %}
{% block subcontent1 %}
<div class="ui four stackable cards">
  <div class="card">
    <div class="image">
      <img src="img/placeholder.png">
    </div>
    <div class="content">
      <a class="header">Kristy</a>
      <div class="description">
        Kristy is an art director living in New York.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="img/placeholder.png">
    </div>
    <div class="content">
      <a class="header">Kristy</a>
      <div class="description">
        Kristy is an art director living in New York.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="img/background1.jpg">
    </div>
    <div class="content">
      <a class="header">Kristy</a>
      <div class="description">
        Kristy is an art director living in New York.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="img/placeholder.png">
    </div>
    <div class="content">
      <a class="header">Kristy</a>
      <div class="description">
        Kristy is an art director living in New York.
      </div>
    </div>
  </div>
</div>
<div class='flex end actions'>
  <a class='ui button green'>NEXT</a>
  <a class='ui button green'>PREV</a>
</div>
{% endblock %}
