{% extends "submain.html" %}
{% block subcontent %}
    <div id='explore'>
        <div class="ui three stackable cards">
            {% for nicething in nicethings %}
                
            <div class="card">
                <div class="content">
                    <a href="index.php?explore={{ nicething.objectId }}">
                        <img class="right floated mini ui image" src="img/profile_default_male.jpg">
                        <div class="header">
                            {{ nicething.message }} 
                        </div>
                        <div class="meta">
                            <span class='value'><i class="location arrow icon"></i>{{nicething.location_name}}</span>
                        </div>
                        <div class="description">
                            {{ nicething.nice_thing }}
                        </div>
                    </a>
                </div>
                <div class="extra content">
                    <span class='value'><i class="calendar icon"></i>{{nicething.createdAt | date("F jS \\a\\t g:ia")}}</span>
                    <span class="right floated">
                        <i id="{{ nicething.objectId }}" thing-id="{{ nicething.objectId }}" class="heart like icon outline"></i>
                        <span>{{ nicething.likes|length }}</span>
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class='actions flex end'>
            <button class='ui green button'>Prev</button>
            <button class='ui green button'>Next</button>
        </div>
    </div>
{% endblock %}
{% block subcontent1 %}
    <div id='explore'>
        <div class="ui four stackable cards">
            {% for nicething in nicethings %}
                
            <div class="card">
                <div class="content">
                    <a href="index.php?explore={{ nicething.objectId }}">
                        <img class="right floated mini ui image" src="img/profile_default_male.jpg">
                        <div class="header">
                            {{ nicething.message }} 
                        </div>
                        <div class="meta">
                            <span class='value'><i class="location arrow icon"></i>{{nicething.location_name}}</span>
                        </div>
                        <div class="description">
                            {{ nicething.nice_thing }}
                        </div>
                    </a>
                </div>
                <div class="extra content">
                    <span class='value'><i class="calendar icon"></i>{{nicething.createdAt | date("F jS \\a\\t g:ia")}}</span>
                    <span class="right floated">
                        <i id="{{ nicething.objectId }}" thing-id="{{ nicething.objectId }}" class="heart like icon outline"></i>
                        <span>{{ nicething.likes|length }}</span>
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class='actions flex end'>
            <button class='ui green button'>Prev</button>
            <button class='ui green button'>Next</button>
        </div>
    </div>
{% endblock %}
