{% extends "submain.html" %}
{% block subcontent %}
<div class='ui three stackable cards'>
  <div class="card">
    <div class="extra content">
      <div class="flex middle between">
        <span><img class="ui avatar image" src="img/placeholder.png"> Matt</span>
        <div class='flex-col'><span>Ulaanbaatar</span><span>2016/06/06</span></div>
      </div>
    </div>
    <div class="content">
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
    </div>
    <div class="extra content">
      <div class="flex middle between">
        <span><a href='#'><i class="like icon"></i>Like</a></span>
        <span><a href='#'><i class="large twitter icon"></i></a><a href='#'><i class="large facebook square icon"></i></a><a href='#'><i class="large instagram icon"></i></a></span>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="extra content">
      <div class="flex middle between">
        <span><img class="ui avatar image" src="img/placeholder.png"> Matt</span>
        <div class='flex-col'><span>Ulaanbaatar</span><span>2016/06/06</span></div>
      </div>
    </div>
    <div class="content">
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
    </div>
    <div class="extra content">
      <div class="flex middle between">
        <span><a href='#'><i class="like icon"></i>Like</a></span>
        <span><a href='#'><i class="large twitter icon"></i></a><a href='#'><i class="large facebook square icon"></i></a><a href='#'><i class="large instagram icon"></i></a></span>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="extra content">
      <div class="flex middle between">
        <span><img class="ui avatar image" src="img/placeholder.png"> Matt</span>
        <div class='flex-col'><span>Ulaanbaatar</span><span>2016/06/06</span></div>
      </div>
    </div>
    <div class="content">
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
    </div>
    <div class="extra content">
      <div class="flex middle between">
        <span><a href='#'><i class="like icon"></i>Like</a></span>
        <span><a href='#'><i class="large twitter icon"></i></a><a href='#'><i class="large facebook square icon"></i></a><a href='#'><i class="large instagram icon"></i></a></span>
      </div>
    </div>
  </div>
</div>
<div class='actions flex end'>
  <button class='ui green button'>Prev</button>
  <button class='ui green button'>Next</button>
</div>
{% endblock %}
