{% extends "submain.html" %}
{% block subcontent %}
<div id='things'>
    <div class='flex between md-wrap'>
        <div class='flex12'>
            <h1>NICE THINGS NAME</h1>
            <p>The cabinet-making company was able to increase sales by 25% with Facebook Ads, and the number of visitors who came to the stores also rose.</p>
        </div>
        <div class='margin-left md-no-margin-left md-margin-top'>
            <img class='ui image huge' src='img/background1.jpg'/>
        </div>
    </div>
</div>
{% endblock %}
